<div class="h1_large d-flex justify-content-center"><h1>Your upcoming trips</h1></div>




<div class="d-flex justify-content-center">
  <% @bookings.each do |book| %>
    <% if @date <= book.end_date %>
       <div class="cards_item">
        <div class="card w-100">
          <div class="card_image" style = "height: 200px; width: 18rem;"><img src="<%= cl_image_path(book.ship.picture.key) %>"></div>
              <div class="card_content">
                  <div class="card_title_div">
                    <h2 class="card_title"><%= book.ship.name %></h2>
                  </div>
                  <div class="card_text_div">
                    <p class="card_text"><%= book.start_date%></p>
                    <p class="card_text">-</p>
                    <p class="card_text"><%= book.end_date%></p>
                  </div>
              </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<div class="h3 d-flex justify-content-center"><h2>Trip history</h2></div>


<div class="d-flex justify-content-center">
  <% @bookings.each do |book| %>
    <% if @date > book.end_date %>
      <div class="cards_item">
        <div class="card w-100">
          <div class="card_image" style = "height: 200px; width: 18rem;"><img src="<%= cl_image_path(book.ship.picture.key) %>"></div>
              <div class="card_content">
                  <div class="card_title_div">
                    <h2 class="card_title"><%= book.ship.name %></h2>
                  </div>
                  <div class="card_text_div">
                    <p class="card_text"><%= book.start_date%></p>
                    <p class="card_text">-</p>
                    <p class="card_text"><%= book.end_date%></p>
                  </div>
                  <div class="review" style="margin-left: 40px">
                    <%= link_to "Add a review", new_ship_booking_review_path(booking_id: book, ship_id: book.ship)%>
                  </div>
              </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
