<h1 class="h1 d-flex justify-content-center align-items-center">All Your Bookings!</h1>

<h3 class="h3 d-flex justify-content-center">Current Live Bookings!</h3>




<div class="d-flex justify-content-center">
  <% @bookings.each do |book| %>
    <% if @date <= book.end_date %>
      <div class="card" style="width: 18rem; margin-left: 20px">
        <h5><%= book.ship.name%></h5>
        <p><%= book.start_date%></p>
        <p><%= book.end_date%></p>
      </div>
    <% end %>
  <% end %>
</div>

<h3 class="h3 d-flex justify-content-center">Closed Bookings</h3>


<div class="d-flex justify-content-center">
  <% @bookings.each do |book| %>
    <% if @date > book.end_date %>
      <div class="card" style="width: 18rem; margin-left: 20px">
        <h5><%= book.ship.name %></h5>
        <p><%= book.start_date%></p>
        <p><%= book.end_date%></p>
        <div class="review">
          <%= link_to "Add a review", new_ship_booking_review_path(booking_id: book, ship_id: book.ship)%>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
