
<div class="card" style="width: 18rem;">
        <% if ship.picture.attached? %>
        <div class ="image-container">
        <a href="<%= ship_path(ship)%>"><img src="<%= cl_image_path(ship.picture.key) %>">
        </div>
       <% else %>
        <a href="<%= ship_path(ship)%>"><img src="https://media.istockphoto.com/id/1363988379/vector/rocket-wallpaper.jpg?s=612x612&w=0&k=20&c=Pih_wsE635bIFgBMaOrRcuDIpAcB00rpW8yXNAGtdIk=" class="card-img-top" alt="...">
        <% end %>
        <div>
          <h5><%= ship.name %></h5>
          <p>
          <%= ship.size %>
          <%= ship.price %><%= ship.rating %></p>
          <%= link_to "Book Now", new_ship_booking_path(ship), class: "btn btn-primary"%>
        </div>
      </div>
