<div class="cards_item">
  <div class="card w-100">
    <div class="card_image" style = "height: 200px; width: 100%;"><a href="<%= ship_path(ship)%>"><img src="<%= cl_image_path(ship.picture.key) %>"></div>
        <div class="card_content">
            <div class="card_title_div">
              <h2 class="card_title"><a href="<%= ship_path(ship)%>"><%= ship.name %></h2>
            </div>
            <div class="card_text_div">
              <p class="card_text"><i class="fa-solid fa-person"></i> <%= ship.size %></p>
              <p class="card_text"><i class="fa-solid fa-euro-sign"></i> <%= ship.price %></p>
            </div>
            <div class="div_button">
              <button class="btn card_btn"><%= link_to "Book Now", ship_path(ship)%></button>
            </div>
        </div>
  </div>
</div>
