<h1>Ship Listings</h1>

<% @ships.each do |ship| %>
  <%= ship.name %>
  <%= ship.size %>
  <%= ship.price %>
  <%= ship.rating %>
<% end %>

<%= link_to "add new ship", new_ship_path%>

<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Ship Name</h5>
    <p class="card-text">Information about the ship</p>
    <a href="#" class="btn btn-primary">Book Now</a>
  </div>
</div>
