<header>
  <div
    class="p-5 text-center bg-image"
    style="
      background-image: url('https://cdn.mos.cms.futurecdn.net/4MLyNZ66GSMUp7z49Q8k3K-1920-80.jpg.webp');
      height: 500px;">
    <div class="d-flex justify-content-center h-100 align-items-center">
      <div class="text-white">
        <h1 class="header mb-3">Welcome to Rent-A-Ship</h1>
        <h4 class="header mb-3">Get the perfect spaceship for your Intergalactic trip!</h4>
      </div>
    </div>
  </div>
</header>


<h1 class=" h1 d-flex justify-content-center align-items-center">Ship Listings</h1>

<% @ships.each do |ship| %>
  <div class="card" style="width: 18rem;">
  <img src="<%= cl_image_path(ship.picture.key) %>" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"> <%= ship.name %></h5>
    <p class="card-text">
    <%= ship.size %>
    <%= ship.price %><%= ship.rating %></p>
    <a href="#" class="btn btn-primary">Book Now</a>
  </div>
</div>
>>>>>>> master



<%# <div class="card-trip">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  <div class="card-trip-infos">
    <div>
      <h2>Title here</h2>
      <p>Short description here!</p>
    </div>
    <h2 class="card-trip-pricing">£99.99</h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
  </div>
</div> %>
