<div class="d-flex justify-content-center">
  <h1 class="h1"><%= @ship.name %></h1>
</div>




<div class="container">
  <div class="image_frame"><img src="<%= cl_image_path(@ship.picture.key) %>"></div>
    <div class="form_box justify-content-center">
      <h3 class="text_box"><i class="fa-solid fa-person"></i> <%= @ship.size %></h3>
      <h3 class="text_box"><i class="fa-solid fa-euro-sign"></i> <%= @ship.price %></h3>
      <div class="btn_group">
        <button type="button" class="btn btn-secondary"><%= link_to "Book", new_ship_booking_path(@ship)%></button>
        <button type="button" class="btn btn-secondary"><%= link_to "Back", root_path %></button>
      </div>
      <% if user_signed_in? %>
        <div class="btn_group">
          <button type="button" class="btn btn-secondary"><%= link_to "Edit", edit_ship_path(@ship)%></button>
          <button type="button" class="btn btn-secondary"><%= link_to "Delete", ship_path, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></button>
        </div>
      <% else %>
      <% end %>
    </div>
  </div>
</div>
